.header{
    height: 80px;
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    /* align-items: center; */
}
.header nav{
    margin-top: 10px;
}
.header nav a{
    text-decoration: none;
    color: red;
    margin-left: 30px;

}
.header nav a:hover{
    color: blueviolet;
}
.header nav img{
    width: 50px;
    height: 40px;
    margin-left: 30px;
    border-radius: 50%;
}
@media only screen and (max-width: 500px ) {
    .header{
        width: 150%;
    }
    .header nav img{
        
        margin-left: 500px;
    }
    
}