.blogInfo{
    width: 700px;
    height: 821px;
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    margin: 40px;

}
.blogInfo img{
    width:  700px;
    height: 450px;
}
.author-info{
    display: flex;
}
.author-info .text p{
     display: inline;
     margin-left: 20px;
}
.author-info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.author-info .time{
    padding-left: 400px;
    
}